all:
  hosts:
    core_host:
      ansible_port: 22
      ansible_host: "{{ core_host }}"
      ansible_user: root
      ansible_ssh_private_key_file:  "{{ "{{ private_key_file }}" }}"
      ansible_ssh_extra_args: "-o StrictHostKeyChecking=no"
      ansible_python_interpreter: /usr/bin/python3
    web_host:
      ansible_port: 22
      ansible_host: "{{ web_host }}"
      ansible_user: root
      ansible_ssh_private_key_file:  "{{ "{{ private_key_file }}" }}"
      ansible_ssh_extra_args: "-o StrictHostKeyChecking=no"
      ansible_python_interpreter: /usr/bin/python3